html, body {
  height: 100%;
  margin: 0;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  text-align: center;
  padding: 2rem;
}

.home h1 {
  font-size: 2.5rem;
}

.home p {
  font-size: 1.2rem;
}
